#!/usr/bin/make -f
%:
	dh $@ --with sphinxdoc

override_dh_auto_build:
	sphinx-build -W -b html source build/html

override_dh_auto_install:
	mkdir -p debian/ishtaria-doc/usr/share/doc/ishtaria-doc
	cp -r build/html debian/ishtaria-doc/usr/share/doc/ishtaria-doc/

override_dh_auto_clean:
	rm -rf build
